body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: grey;
  color: white;
  padding: 0.2rem;
}

main {
  padding: 0.5rem;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
}

button {
  padding: 10px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #222222;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

th.button {
  cursor: pointer;
  font-weight: bold;
  color: blue;
}